html {
    width:              200px;
    min-height:         100px;
    background-color:   #A8AD00;
}

div {
    width:              100%;
    margin:             10%;
}

p, h1, h2, h3 {
    font-family:        "Comic Sans MS", cursive, sans-serif;
}